@section css {
<link href="/Content/Admin.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Администрирование";
    ViewBag.Header = "Инструкция";
}


@Html.Partial("_AdminPartial")
<div class="content">
    <h2 align="center">@ViewBag.Header</h2>
    <br/>
    <p>
        Данная страница предназначена для администрирования сайта. Доступ к редактированию открыт только
        для категории администраторы. Частично к функциям редактора имеют доступ продвинутые пользователи
        (<strong>Advantage User</strong>).
    </p>
    <p>
        Весь интерфейс представлен слева, это
    </p>
    <ol>
        <li>Управление пользователями - предоставляет возможность просмотра и редактирования
            существующих записей пользователя. Добавление и съем денег так же осуществляется в этой форме.
            Предоставляет широкий функционал для поиска конкретных пользователей по признаку.</li>
        <li>Управление записями - предоставляет интерфейс для общения врачей с пользователями. В данный пункт входят:
            обмен сообщениями, записи на консультацию и ответы на них.</li>
        <li>About - редактирование страницы о сайте.</li>
        <li>Contact - редактиоование страницы контактов.</li>
    </ol>
</div>