@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Doctor</h1>
    <p class="lead">Краткий текст о предоставляемых услугах. Врачебная практика. Стартовая информация.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Подробнее &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>С чего начать</h2>
        <p>
            Инструкция о работе с сайтом. Примеры и т.п. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Дополнительная информация</h2>
        <p>Любая информация, например о достижениях и т.п.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>