
A {
    color: #a0a0a0;
    font-size: 15px;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

A:hover {
    color: #c0c0c0;
    font-size: 17px;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
}
.div_menu {
    margin-top: 50px;
    border-right: 1px solid lemonchiffon;
    width: 250px;
    float: left;
}
.div_menu_record {
    text-align: left;
    height: 30px;
}
.content {

    height: 400px;
    margin-left: 300px;
    padding: 1px;
}

table {
 background: #ffdddd; /* цвет фона */
 border: 1px grey solid; /* стиль рамки */
 border-collapse: collapse ; /* убирание задвоенности рамки */
    width: 100%;
}
td {
    text-align: center;
 border: 1px darkslategray solid; /* стиль рамки ячеек */
 padding: 0.2em; 
 background: wheat;
 
}
th {
 border: 1px #080808 solid; /* стиль рамки заголовков */
 padding: 0.2em;
    text-align: center;
    background: #222222;
    color: #a0a0a0;
    
}
.form-ajax {
      margin-left: 10px;
      width: 140px;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #555555;
      vertical-align: middle;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
              transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

